{% extends "base.html" %}

{% block content %}
    <h2>Address Book</h2>
    <hr>

    <div class="row">
        <div class="col-sm-12 text-centered">
            <form action="" method="POST">
                {{ number_of_users_form.how_many_users.label }}
                {{ number_of_users_form.how_many_users }} 
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            </form> 
            <br>
        </div> 
    </div>
        
    {% if userdata %}
        <div class="container">
            <div class="row">
                {% for user in userdata %}
                    <div class="col-md-5" style="margin-bottom: 20px;
                        margin-right: 10px;">
                    <table class="table table-striped">
                        <tr>
                        <td colspan=2 class="text-center">
                            <h4>{{user["name"]["title"] | title}}
                                {{user["name"]["first"] | title}}
                                {{user["name"]["last"] | title}}<h4>
                        </td>
                        </tr>

                        <tr>
                            <td colspan=2 class="text-center">
                                <img class="img" src="{{user['picture']['large']}}">
                            </td>
                        </tr>

                        <tr>
                        <td>
                           Gender :
                        </td>
                        <td>
                           {{user["gender"] | title}}
                        </td>
                        </tr>
      
                        <tr>
                        <td>
                           Address : 
                        </td>
                        <td>
                          {{user["location"]["street"] | title}}
                          <br>
                          {{user["location"]["city"] | title}}
                          <br>
                          {{user["location"]["state"] | title}}
                          <br>
                          {{user["location"]["postcode"] | title}}
                        </td>
                        </tr>

                        <tr>
                        <td>
                           Email:
                        </td>
                        <td>
                           {{user["email"] | title}}
                        </td>
                        </tr>

                        <tr>
                        <td>
                           Phone :
                        </td>
                        <td>
                           {{user["phone"] | title}}
                        </td>
                        </tr>

                        <tr>
                        <td>
                           Cell :
                        </td>
                        <td>
                           {{user["cell"] | title}}
                        </td>
                        </tr>

                        <tr>
                        <td>
                           Nationality:
                        </td>
                        <td>
                           {{user["nat"] | upper}}
                        </td>
                        </tr>


                    </table>
                         

                        


                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
