{% extends "base.html" %}
{% block content %}

<h1>Calculator coming soon...</h1>
<form action="" method="POST" class="form-inline">

{{calculator.user_input1.label}}
{{calculator.user_input1()}}
{{calculator.user_input2.label}}
{{calculator.user_input2()}}
<br><br>

<ul class="list-unstyled">
    {% for subfield in calculator.operators %}
        <li>
        {{subfield}}
        {{subfield.label}}
        </li>
    {% endfor %}
</ul>

<br>

<button type="submit" class="btn btn-primary">Calculate</button>

</form>
<br>

RESULT : {{result}}

{% endblock %}
