{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Word Counter</h1>
        <form action="" method="POST" class="form-inline">
        {% if wordcount_form.errors %}
            <div class="alert alert-danger">
                error
            </div>
        {% endif %}
            {{ wordcount_form.user_input.label }}
            {{ wordcount_form.user_input(
                class="form-control",
                placeholder="Enter some text.") }}
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </form>

        {% if words %}
            <p>Words by occurance:</p>
            <ul>
                {% for item in most_common_words %}
                <li>Word: {{ item[0]}} ({{ item[1]}})</li>
                {% endfor %}
            </ul>

            <p>Characters by occurance</p>
            <ul>
                {% for item in most_common_character %}
                <li>Character: {{ item[0]}} ({{ item[1]}})</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
