{% extends "base.html" %}
{% block content %}

<h1>Times-Table</h1>

<div class="container">
    <table class="table table-striped ">
    <thead>
        <tr>
            <th>
                *
            </th>
            
            {% for line in times_table.table %}
            <th>
            {{line[0]}}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for line in times_table.table %}

        <tr>

        <th>
            {{line[0]}}
        </th>


                {% for number in line %}
                    <td>{{ number }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
